## **Adding New Items**

In [21]:
import json
fd = open("data.json",'r')
r =  fd.read()
fd.close()
records=json.loads(r)

In [22]:
records

{'1001': {'name': 'Chocolate cake', 'price': 100, 'quantity': 30},
 '1002': {'name': 'Black Forest cake', 'price': 120, 'quantity': 40},
 '1003': {'name': 'Vanilla cake', 'price': 110, 'quantity': 35},
 '1004': {'name': 'Mango cake', 'price': 130, 'quantity': 80},
 '1005': {'name': 'Strawberry cake', 'price': 125, 'quantity': 50},
 '1006': {'name': 'Pineapple cake', 'price': 150, 'quantity': 40},
 '1007': {'name': 'Blueberry cake', 'price': 160, 'quantity': 30},
 '1008': {'name': 'Funfetti cake', 'price': 220, 'quantity': 50},
 '1009': {'name': 'Lemon cake', 'price': 525, 'quantity': 40},
 '1010': {'name': 'Coffee cake', 'price': 335, 'quantity': 60},
 '1011': {'name': 'Banana cake', 'price': 245, 'quantity': 75},
 '1012': {'name': 'Chocolate Pastry', 'price': 150, 'quantity': 190},
 '1013': {'name': 'Kit Kat Chocolate', 'price': 5, 'quantity': 80},
 '1014': {'name': 'American Red Velvet', 'price': 755, 'quantity': 90},
 '1015': {'name': 'Choco cake', 'price': 425, 'quantity': 35},
 '1016': {'name': 'Dairy Milk', 'price': 10, 'quantity': 90},
 '1017': {'name': 'Silk Cadbury', 'price': 50, 'quantity': 70},
 '1018': {'name': 'Snickers', 'price': 50, 'quantity': 100},
 '1019': {'name': 'Twix', 'price': 50, 'quantity': 90},
 '1020': {'name': 'Milky Bar Chocolate ', 'price': 50, 'quantity': 100},
 '1021': {'name': 'Five star', 'price': 50, 'quantity': 330},
 '1022': {'name': 'Perk', 'price': 40, 'quantity': 90},
 '1023': {'name': 'Black Bourbon', 'price': 25, 'quantity': 150},
 '1024': {'name': 'Parle', 'price': 5, 'quantity': 100},
 '1025': {'name': 'Marie', 'price': 50, 'quantity': 50},
 '1026': {'name': 'Good Day', 'price': 20, 'quantity': 75},
 '1027': {'name': 'Oreo', 'price': 50, 'quantity': 40},
 '1028': {'name': 'Hide and seek', 'price': 10, 'quantity': 50},
 '1029': {'name': 'The Hershey Chocolate', 'price': 25, 'quantity': 80},
 '1030': {'name': 'Monacco', 'price': 15, 'quantity': 35}}

## **Add new item into inventory**

In [25]:
product_ID=str(input("Enter product ID"))
name=str(input("Enter name of product"))
price=int(input("Enter price"))
quantity=int(input("Enter quantity"))
records[product_ID]={'name':name,'price':price,'quantity':quantity}
js=json.dumps(records)
fd=open("data.json",'w');
fd.write(js)
fd.close()

Enter product ID1031
Enter name of productS
Enter price50
Enter quantity100

In [26]:
records

{'1001': {'name': 'Chocolate cake', 'price': 100, 'quantity': 30},
 '1002': {'name': 'Black Forest cake', 'price': 120, 'quantity': 40},
 '1003': {'name': 'Vanilla cake', 'price': 110, 'quantity': 35},
 '1004': {'name': 'Mango cake', 'price': 130, 'quantity': 80},
 '1005': {'name': 'Strawberry cake', 'price': 125, 'quantity': 50},
 '1006': {'name': 'Pineapple cake', 'price': 150, 'quantity': 40},
 '1007': {'name': 'Blueberry cake', 'price': 160, 'quantity': 30},
 '1008': {'name': 'Funfetti cake', 'price': 220, 'quantity': 50},
 '1009': {'name': 'Lemon cake', 'price': 525, 'quantity': 40},
 '1010': {'name': 'Coffee cake', 'price': 335, 'quantity': 60},
 '1011': {'name': 'Banana cake', 'price': 245, 'quantity': 75},
 '1012': {'name': 'Chocolate Pastry', 'price': 150, 'quantity': 190},
 '1013': {'name': 'Kit Kat Chocolate', 'price': 5, 'quantity': 80},
 '1014': {'name': 'American Red Velvet', 'price': 755, 'quantity': 90},
 '1015': {'name': 'Choco cake', 'price': 425, 'quantity': 35},
 '1016': {'name': 'Dairy Milk', 'price': 10, 'quantity': 90},
 '1017': {'name': 'Silk Cadbury', 'price': 50, 'quantity': 70},
 '1018': {'name': 'Snickers', 'price': 50, 'quantity': 100},
 '1019': {'name': 'Twix', 'price': 50, 'quantity': 90},
 '1020': {'name': 'Milky Bar Chocolate ', 'price': 50, 'quantity': 100},
 '1021': {'name': 'Five star', 'price': 50, 'quantity': 330},
 '1022': {'name': 'Perk', 'price': 40, 'quantity': 90},
 '1023': {'name': 'Black Bourbon', 'price': 25, 'quantity': 150},
 '1024': {'name': 'Parle', 'price': 5, 'quantity': 100},
 '1025': {'name': 'Marie', 'price': 50, 'quantity': 50},
 '1026': {'name': 'Good Day', 'price': 20, 'quantity': 75},
 '1027': {'name': 'Oreo', 'price': 50, 'quantity': 40},
 '1028': {'name': 'Hide and seek', 'price': 10, 'quantity': 50},
 '1029': {'name': 'The Hershey Chocolate', 'price': 25, 'quantity': 80},
 '1030': {'name': 'Monacco', 'price': 15, 'quantity': 35},
 '1031': {'name': 'S', 'price': 50, 'quantity': 100}}

In [28]:
del records['1031']

In [29]:
records

{'1001': {'name': 'Chocolate cake', 'price': 100, 'quantity': 30},
 '1002': {'name': 'Black Forest cake', 'price': 120, 'quantity': 40},
 '1003': {'name': 'Vanilla cake', 'price': 110, 'quantity': 35},
 '1004': {'name': 'Mango cake', 'price': 130, 'quantity': 80},
 '1005': {'name': 'Strawberry cake', 'price': 125, 'quantity': 50},
 '1006': {'name': 'Pineapple cake', 'price': 150, 'quantity': 40},
 '1007': {'name': 'Blueberry cake', 'price': 160, 'quantity': 30},
 '1008': {'name': 'Funfetti cake', 'price': 220, 'quantity': 50},
 '1009': {'name': 'Lemon cake', 'price': 525, 'quantity': 40},
 '1010': {'name': 'Coffee cake', 'price': 335, 'quantity': 60},
 '1011': {'name': 'Banana cake', 'price': 245, 'quantity': 75},
 '1012': {'name': 'Chocolate Pastry', 'price': 150, 'quantity': 190},
 '1013': {'name': 'Kit Kat Chocolate', 'price': 5, 'quantity': 80},
 '1014': {'name': 'American Red Velvet', 'price': 755, 'quantity': 90},
 '1015': {'name': 'Choco cake', 'price': 425, 'quantity': 35},
 '1016': {'name': 'Dairy Milk', 'price': 10, 'quantity': 90},
 '1017': {'name': 'Silk Cadbury', 'price': 50, 'quantity': 70},
 '1018': {'name': 'Snickers', 'price': 50, 'quantity': 100},
 '1019': {'name': 'Twix', 'price': 50, 'quantity': 90},
 '1020': {'name': 'Milky Bar Chocolate ', 'price': 50, 'quantity': 100},
 '1021': {'name': 'Five star', 'price': 50, 'quantity': 330},
 '1022': {'name': 'Perk', 'price': 40, 'quantity': 90},
 '1023': {'name': 'Black Bourbon', 'price': 25, 'quantity': 150},
 '1024': {'name': 'Parle', 'price': 5, 'quantity': 100},
 '1025': {'name': 'Marie', 'price': 50, 'quantity': 50},
 '1026': {'name': 'Good Day', 'price': 20, 'quantity': 75},
 '1027': {'name': 'Oreo', 'price': 50, 'quantity': 40},
 '1028': {'name': 'Hide and seek', 'price': 10, 'quantity': 50},
 '1029': {'name': 'The Hershey Chocolate', 'price': 25, 'quantity': 80},
 '1030': {'name': 'Monacco', 'price': 15, 'quantity': 35}}